#deliver{
	width: 100%;
	height: 100%;
	background-color:  #E5E4E2;
}

#deliver_box{
 
 position: absolute;
 left: 50%;
 top: 50%;
 border: 1px solid #111; 
 transform: translate(-50%, -50%);
 width: 75%; 
 height: 75%;
 background-color: white ;
 border-radius: 5px;

}

#address_box{

 position: absolute;
 left: 18px;
 top: 10%;
 width: 300px; 
 height: 200px;
 border: 1px solid #399689; 
 padding-top: 500px;
 padding: 20px; 
 background-color: #E5E4E2 ;

}
#add{
 position: absolute;
 margin-left: 327px;
 top: 10%;
 width: 300px; 
 height: 200px;
 padding-top: 500px;
 padding: 20px; 
 background-color: #E5E4E2 ;

}

#drop_req_button{
 color:#000 ;
 background-color:#FF3366; 
 width: 300px;
 height: 32px;
 border-radius: 5px;
 position:relative;
 margin-top: 5%;
 left: 18px;
 float: left;
 bottom: 65px;

}

#left_button{

 display: block;
 position: absolute;
 margin: 0 auto;
 font-size: 0.8em;
 border: 1px solid #399689; 
 padding: 0.6em 1.2em;
 background-color: #E5E4E2
 color: #fff;
 font-family: 'Lato', Calibri, Arial, sans-serif;
 font-size: 1em;
 letter-spacing: 1px;
 text-transform: uppercase;
 cursor: pointer;
 display: inline-block;
 margin: 10px 2px;
 border-radius: 2px;
 margin-left:75px;
 margin-top:227px;
 object-position: center;

}

#right_button{

 display: block;
 position: absolute;
 margin: 0 auto;
 font-size: 0.8em;
 border: 1px solid #399689; 
 padding: 0.6em 1.2em;
 background-color: #E5E4E2
 color: #fff;
 font-family: 'Lato', Calibri, Arial, sans-serif;
 font-size: 1em;
 letter-spacing: 1px;
 text-transform: uppercase;
 cursor: pointer;
 display: inline-block;
 margin: 10px 2px;
 border-radius: 2px;
 margin-left:150px;
 margin-top:227px;
 object-position: center;

}

#addr_button{

 font-family: 'Lato', Calibri, Arial, sans-serif;
 font-size: 1em;
 letter-spacing: 1px;
 text-transform: uppercase;
 cursor: pointer;
 display: inline-block;
 color:#fff;
 background-color:#555; 
 width: 200px; 
 height: 50px;
 position:absolute;
 bottom: 50%;
 right: 8%;

}

tst{

 color: #000;
 font-weight:60;
 font-size: 20px;
 font-family: Arial;
 border:5px;

}

#coupon_text{

 margin-left: 10%;

}

#dil_apply{

 position: absolute;
 background: #FF3366; 
 margin-left: 1%; 
 margin-top: 4%;  

}

#dis{
	margin-top: 300px;
	margin-left: 18px;
}
.coupon_status{
	margin-left:5%;
}

#footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: black;
	color:white;
	height: 64px;

}