#nav1{
  width:200px;
  height:651px;
  float:left;
}

#map {
  margin-right:-230px;
  height:650px;
  width:1094px;
}

#section {
    margin-right:-230px;
    height:650px;
    width:1094px;
    float:left;
}

#section1 { 
    position:relative;
    float:right;
    background-color:#333;
    height:651px;
    width:200px;
    padding-left:10px;
    display: none;
} 

.sidebar {
  background-color:#333;
  width:200px;
  height:651px;
  top:0;
  bottom:0;
  left:0;
  text-align:left;
  margin: 0;
  padding: 0;
  transition:1s ease;
}

#info,#address,h3,p{
  color:white;
}

.sidebar li {
  text-indent: 20px;
  line-height: 40px;
  transition:0.5s ease;
}

.sidebar li:hover {
  background-color:#777;
  cursor:pointer;
  text-indent: 30px;
}


