.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.nav {
    float: right;
    margin: 20px 30px;
}



input {
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  font-size: 1em;
  outline: none;
  width: 100%;
  padding-bottom: 0.4em;
}
input:focus {
  border-color: #3F51B5;
}

body {
  background-image: url("http://www.cortlandasc.com/cmsimages/colorful_socks_in_a_laundry_basket.jpg");
  font-family: 'Roboto';
  height: 100vh;
  width: inherit;
  margin: inherit;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
}

h1 {
  font-weight: 200;
}

.container {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
  background-color: white;
}

body .btn {
  border: 1px solid black;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
}
body .btn span {
  position: relative;
  z-index: 1;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
body .btn:hover span {
  opacity: 0;
  visibility: hidden;
}
.link_class {
    float: right;
    font-kerning: auto;
    font-size: 15px;
    font-stretch: condensed;
    font-style: italic;
    margin-bottom: -20px;
    padding-left: 10px;
}
.btn-cont a{
    color: dimgray;
    margin-bottom: 0px;
}
.btn2 a{
    margin-top: 0px;
    padding-left: 50px;
}

