@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
.details {
  align-content: center;
  text-align: center;
  font-size: 15px;
  text-shadow: 1px 0px;
  font-weight: 100;
  background-color: #F3E8E8;

}

#time{
  font-size: 15px;
  align:right;
  float: right;
}
.details span{
    margin-top: -10px;
}
hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
.coupon {
 color: #F90B6D; 
 font-family: 'Open Sans', sans-serif; 
 font-size: 20px; 
 font-weight: 300; 
 line-height: 40px; 
 padding-left: 10px;
}
hr { 
    display: block;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 10px;
}



.orders {
  width: 200px;
  height: 300%;
  background-color: #DDD;
  position: relative;
  float: left;
  margin-left: 33px;
  margin-top: 35px;
}
.orders .orders-header {
  height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.orders .orders-body {
  position: relative;
}
.orders .orders-body .status {
  font-size: 32px;
  text-align: center;
}
.orders .orders-body .description {
  padding: 0 25px;
  line-height: 1.5;
  text-align: left;
  font-kerning: initial;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
    position: fixed;
    margin-bottom: 10px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.style-thr{
  margin-left: 60px;
  margin-top: -1px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.order_description{
  color: #000; 
 font-family: 'Open Sans', sans-serif; 
 font-size: 20px; 
 font-weight: 300; 
 line-height: 30px; 
 padding-left: 10px;
}
hr.style13 {
    position: relative;
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}