#address_box{
 width: 100%; 
 height: 80%;
 border: 1px solid #399689; 
 padding: 10px; 
 background-color: #E5E4E2 ;
  font-family: 'Roboto ',sans-serif;

}
#add{
 width: 75%; 
 height: 150%;
 padding-bottom: 21px;
 background-color: #E5E4E2 ;

}


#left_button{
 
 background-color: #FF0066;
 color: white;
 border: none;
}

#right_button{

 
 background-color: #FF0066;
 color:white;
 border: none;
}
tst{

 color: #000;
 font-weight:40;
 font-size: 15px;
  font-family: 'Roboto ',sans-serif;
 border:5px;

}


#select_service{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #E5E4E2;
}

#place_order{
    height: 100vh;
    width: 100%;
    background-color: #E5E4E2;
}


#select_service1{
  position: fixed;
  left:15%;
  top:35%;
  height: 130px;
  width: 130px;
  background: url('../images/sprite.png') 0px 320px ; 
}

#select_service2{
  position: fixed;
  left:50%;
  top:35%;
  height: 130px;
  width: 130px;
  transform: translate(-50%);
  background: url('../images/sprite.png') -120px 320px ; 
}

#select_service3{
  position: fixed;
  right:15%;
  top:35%;
  height: 130px;
  width: 130px;
  background: url('../images/sprite.png') -240px 320px ; 
}


#apply {
  
   background: #FF0066; 
   border: none;
   color: #ffffff;
    font-family: 'Roboto ',sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 5px;
   
}

.typ{
  font-family: 'Roboto ',sans-serif;
  color: #ffffff;
  position: fixed;
  margin-top: 120px;
  margin-left: 18px;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
}

.typ1{
  position: fixed;
  color: #ffffff;
  font-family: 'Roboto ',sans-serif;
  margin-top: 120px;
  margin-left: 50px;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
}

#placeorder_hover:hover{
  background-color: #777;
  border-radius: 10px;
}


#place_address_box{
 border-radius: 50px;
 margin-top: 0%;
 margin-left:30%; 
 width: 300px; 
 height: 200px;
 padding-top: 50px;
 padding: 20px; 
 background-color: #fff ;
}

#place_left_button{
color:white ;
background-color: #FF0066; 
border-radius: 10px;
position:absolute;
bottom: 50%;
right: 77%;

}

#place_right_button{
 color:#000 ;
background-color: #fff; 
border-radius: 10px;
position:absolute;
bottom: 50%;
right: 15%;

}

#place_addr_button{

color:#000 ;
background-color:#fff; 
border-radius: 100px;
width: 250px; 
height: 50px;
border: 1px solid #111; 
position: relative;
bottom: 10%;
right: 12%;

}

#tsta {
color: #000;
font-weight:60;
font-size: 25px;
font-family: Arial;
}

#sample5{
   background-color:white;

}

.sel_type{
  
  top: 55%;
  margin-left:0%;
  color: #000;
}


#btn4{
   
   width: 24%;
   background: #FF0066; 
   border: none;
   color: #ffffff;
   font-weight: bolder;
   font-size: 10px;
    font-family: 'Roboto ',sans-serif;
    padding: 8px;
   


}