.modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: #000; /* Fallback color */
            /* Black w/ opacity */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
       /* Modal Body */
       .modal-body {
           padding: 2px 16px;
           background: white;
}

       /* Modal Content */
       .modal-content {
           position: relative;
           color: #fff;
           background: rgba(0,0,0,0.9);
           margin: auto;
           margin-top: 100px;
           padding: 0;
           border: 1px solid #888;
           width: 60%;
           box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
           -webkit-transform: translateY(0);
           -webkit-animation-name: animatetop;
           -webkit-animation-duration: 0.4s;
           animation-name: animatetop;
           animation-duration: 0.4s
       }
       
       .modal-content h3 {
         color: white;
           margin: 0;
           padding: 0.4em;
           text-align: center;
           font-size: 2.4em;
           font-weight: 300;
           opacity: 0.8;
           background:#000;
           border-radius: 3px 3px 0 0;
       }
       .modal-content button {
           display: block;
           position: relative;
           margin: 0 auto;
           font-size: 0.8em;
           border: none;
           padding: 0.6em 1.2em;
           background: #555;
           color: #fff;
           font-family: 'Lato', Calibri, Arial, sans-serif;
           font-size: 1em;
           letter-spacing: 1px;
           text-transform: uppercase;
           cursor: pointer;
           display: inline-block;
           margin: 10px 2px;
           border-radius: 2px;
           margin-left: 46%;
           object-position: center;
       }

       .modal-content .back_button {
         margin-left: 3%;
         font-size: 0.5em;
       }
     

#apply {
   position: absolute;
   background: #555; 
   margin-left: 5%;   
}

       /* Add Animation */
       @-webkit-keyframes animatetop {
           from {top: -300px; opacity: 0} 
           to {top: 0; opacity: 1}
       }

       @keyframes animatetop {
           from {top: -300px; opacity: 0}
           to {top: 0; opacity: 1}
       }
#placeorder_hover:hover{
  background-color: #777;
  border-radius: 10px;
}


#place_address_box{
 border-radius: 50px;
 margin-top: 0%;
 margin-left:30%; 
 width: 300px; 
 height: 200px;
 padding-top: 50px;
 padding: 20px; 
 background-color: #fff ;
}

#place_left_button{
color:#000 ;
background-color: #fff; 
border-radius: 10px;
position:absolute;
bottom: 50%;
right: 77%;

}

#place_right_button{
 color:#000 ;
background-color: #fff; 
border-radius: 10px;
position:absolute;
bottom: 50%;
right: 15%;

}

#place_addr_button{

color:#000 ;
background-color:#fff; 
border-radius: 100px;
width: 250px; 
height: 50px;
border: 1px solid #111; 
position: relative;
bottom: 10%;
right: 12%;

}

#tsta {
color: #000;
font-weight:60;
font-size: 25px;
font-family: Arial;
}

#sample5{
   background-color:#fff;
}

#sel_type{
   color: #000;
}