#placebody{
   background-color: white;
   height: fixed;
}

#header2{
   color:black;
   text-align:left;
   padding:3px;
}

#header3 {
   color:black;
   text-align:left;
   padding:3px;
}

#header4 {
   color:black;
   text-align:left;
   padding:3px;
}

#in{
    margin-left: 20px;
}



#address_l{
   margin-left: 20px;
 height: 142px;
 width: 95%;
 overflow:auto;
}
#placeorder_hover:hover{
   background-color: #777;
   border-radius: 10px;
}