#track-order{
    height: 100%;
    width: 100%;
    background-color: #E5E4E2;
}
#table01{
    width: 40%;
    height: 60%;
}

#td1{
    padding-top: 5%;
}

span1 {
    color:#343434;
    display:block;
    line-height:220px;
    text-align:center;
    width:220px;
    font-family:sans-serif;
    font-size:40px;
    font-weight:100;
    margin-left:5px;
}
#deliver_button_position{
    margin-top: 20px;
    position: relative;
    margin-left: 10%;
}
 #deliver_button{
 color:#000 ;
 background-color: #FF3366; 
 border-radius: 5px;
 position:relative;
 bottom: 45%;
 width: 30%;
 height: 13%;
}

.track{
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: right;
  padding-top: 15px;
  margin-right: 10px;
  border-radius: 10px;
}
.track_button{
 color:#000 ;
 background-color: #fff; 
 border-radius: 10px;
 position:relative;
 bottom: 45%;
}
#track_id {
    font-weight: 200;
    font-size: 15px;
    color: #000;
    margin-top: 1%;
    margin-left: 10px;
}
.processing {
	position: absolute;
 left: 50%;
 top: 50%;
 border: 1px solid #111; 
 transform: translate(-50%, -50%);
 width: 75%; 
 height: 75%;
 background-color: white ;
 border-radius: 5px;
}
hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#track_details {
    margin-left: 1%;
    margin-top: 1px;
}
#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color:white;
    height: 64px;

}