#track-order{
    height: 100%;
    width: 100%;
    background-color: #E5E4E2;
    position: relative;
}

.processing {
 position: fixed;
 left: 50%;
 top: 50%;
 border: 1px solid #111; 
 transform: translate(-50%, -50%);
 width: 80%; 
 height: 76%;
 background-color: white ;
 border-radius: 5px;

}
.processing1 {
 position: fixed;
 left: 50%;
 top: 50%;
 border: 1px solid #111; 
 transform: translate(-50%, -50%);
 width: 50%; 
 height: 56%;
 background-color: rgba(0,0,0,.23); ;
 border-radius: 5px;
 color: white;

}

#table01{
    width: 40%;
    height: 20%;
    left: 3%;
    position: absolute;
}

#pl{
    position: absolute;
    margin-top: 167px;
    left: 3%;
}

#st{
   
    background-color: gray;
    width: 250px;
    height: 2px;
    margin-top: 225px;
    left: 3%;
    /*z-index:-1;*/
    display: flex;
    position: absolute;
}

#pick{
    margin-top: -22px;
    position: absolute;
    border-radius: 30%;
    width: 55px;
    height: 55px;
    border-color: white;
    background: url("../images/sprite.png") -15px 188px;
    
   
}

#wash{
    margin-top: -22px;
    margin-left: 70px;
    border-radius: 30%;
    position: absolute;
    width: 55px;
    height: 55px;
    border-color: white;
    background: url("../images/sprite.png") -130px 188px;
     
   
}
#iron{
     margin-top: -22px;
    margin-left: 140px;
    border-radius: 30%;
    position: absolute;
    width: 55px;
    height: 55px;
    border-color: white;
    background: url("../images/sprite.png") -70px 188px;
    
   
}
#dl{
    margin-top: -22px;
    margin-left: 210px;
    border-radius: 30%;
    position: absolute;
    width: 55px;
    height: 55px;
    border-color: white;
    background: url("../images/sprite.png") -186px 188px;
   
}

#pick2{
    margin-top: -22px;
    border-radius: 30%;
    position: relative;
    width: 55px;
    height: 55px;
    border-color: white;
    background: url("../images/sprite.png") -254px 188px;
       
   
}
#wash2{
    margin-top: -22px;
    margin-left: 16px;
    border-radius: 30%;
    position: absolute;
    width: 55px;
    height: 55px;
    border-color: white;
    background: url("../images/sprite.png") -370px 188px;

}
#iron2{
     margin-top: -22px;
    margin-left: 84px;
    border-radius: 30%;
    position: absolute;
    width: 55px;
    height: 55px;
    border-color: white;
    background: url("../images/sprite.png") -310px 188px;

}
#dl2{
    margin-top: -22px;
    margin-left: 154px;
    border-radius: 30%;
    position: absolute;
    width: 55px;
    height: 55px;
    border-color: white;
    background: url("../images/sprite.png") -426px 188px;

}



span1 {
    color:#343434;
    display:block;
    line-height:220px;
    text-align:center;
    width:220px;
    font-family:sans-serif;
    font-size:40px;
    font-weight:100;
    margin-left:5px;
}
#deliver_button_position{
    margin-top: 20px;
    margin-left: 15px;
    

}
 #deliver_button{
 color:#000 ;
 background-color: #FF0066; 
 position: absolute;
 left: 3%;
 color: white;
 margin-top: 270px;
 width: 250px;
 border: none;
}
.track{
  font-size: 12px;
  letter-spacing: 2px;
  text-align: left;
  padding-top: 10px;
  margin-left: 2%;


}
.track_a{
 color:#0086C5;
}


