#login{
    height: 400px;
    width: 300px;
    margin:0 auto;
    background-color : lightgray;
}

#reset-password{
    height: 400px;
    width: 300px;
    margin:0 auto;
    background-color : lightgray;
}

#sign-up{
    height: 400px;
    width: 300px;
    margin:0 auto;
    background-color : lightgray;
}

#forgot-password{
    height: 200px;
    width: 300px;
    margin:0 auto;
    background-color : lightgray;
}
