#login_btn{
  position: fixed;
  height: 4%;
  width: 5%;
  background-color: #FF0066;
  color: #ffffff;
  border: none;
  right: 10%;
  top: 3%;
  text-align: center; 
  font-family: 'Roboto ',sans-serif;
  font-weight: bolder;
  font-size: 10px;
 
}

#get_app{
  position: fixed;
  right: 24%;
  top: 3%;
  text-align: center;
}

#logo{
  position: fixed;
  left:10%;
  top:3%;
  height: 50px;
  width: 250px;
  background: url('../images/sprite.png') 380px 118px ;
}

#home_icon{
  float:left;
  height: 40px;
  width: 50px;
  background: url('/images/sprite1.png') 587px 100px ;
}


#home_div{
  height: 10%;
  width: 100%;
}


#home_icon:hover{
  float:left;
  height: 40px;
  width: 50px;
  background: url('/images/sprite1.png') 587px 50px ;
}


#track_icon{
  float:left;
  height: 40px;
  width: 50px;
  background: url('/images/sprite1.png') 537px 97px ;
}


#track_div{
  height: 10%;
  width: 100%;
}


#track_icon:hover{
  float:left;
  height: 40px;
  width: 50px;
  background: url('/images/sprite1.png') 537px 47px ;
}


#logout_icon{
  float:left;
  height: 40px;
  width: 50px;
  background: url('/images/sprite1.png') 147px 97px ;
}


#logout_div{
  height: 10%;
  width: 100%;
}


#logout_icon:hover{
  float:left;
  height: 40px;
  width: 50px;
  background: url('/images/sprite1.png') 147px 47px ;
}


#android_icon{
   position: fixed;
  right:19%;
  top:3%;
  height: 50px;
  width: 50px;
  background: url('../images/sprite.png') 320px 381px ;
}

#ios_icon{
  position: fixed;
  right:15%;
  top:3%;
  height: 50px;
  width: 50px;
  background: url('../images/sprite.png') 270px 381px ;
}

#register{
  color: #212121;
  height:8%;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 18px;
}

#point1{
  color: #212121;
  height:8%;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 18px;
}

#point4{

    width: 100%;
    height: 15%;
    border: none;
    font-size: 14px;
    font-family: 'Roboto ',sans-serif;
    background-color: #FF0066;
    margin-top: 10%;
    color: #ffffff;
}



div.social-wrap1{
    width: 74%;
    height: 15%;
    margin-left: 13%;

}
div.social-wrap2{
    width: 74%;
    height: 20%;
    margin-left: 13%;

}



div.social-wrap button {
    position: relative;
    width: 100%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: left center;
    background-repeat: no-repeat;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
    text-align: center;

    border-color: #2d5073 ;
    background-color: #3b5998 ;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}


#p1 {
    overflow: hidden;
    text-align: center;
}
#p1:before,
#p1:after {
    border: inset 1px;
    background-color: #FFF;
    content: "";
    display: inline-block;
    height: 0px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
#p1:before {
    right: 0.5em;
    margin-left: -50%;
}
#p1:after {
    left: 0.5em;
    margin-right: -50%;
}

#login{
  padding: 10px 0px 0px 0px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #CCC; 
  position: absolute;
  width: 26%;
  height: 48%;
  top:50%;
  left:50%;
  transform: translate(-50%,-43%);
}

#sign_up{
    padding: 10px 0px 0px 0px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #CCC; 
  position: absolute;
  width: 26.2%; 
  height: 61%;
  top:50%;
  left:50%;
  transform: translate(-50%,-55%);
}

#signup_to_login{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0px;
    margin-left: 0px;
    background: #CCC;
}

#reset_password{
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 45%;
    box-shadow: 10px 10px 5px black;
    transform: translate(-50%, -50%);
    width: 250px; 
    height: 180px;
    border: 1px solid #CCC; 
    padding: 40px; 
    background-color: #FFF
}
.btntt{
  position: absolute;
   width: 168%;
   background: #FF0066; 
   border: none;
   color: #ffffff;
   left:10%; 
   top: 80%;
   font-family: 'Roboto ',sans-serif;
   font-weight: bolder;
   font-size: 12px;
   padding: 4px;
}

#otp{
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 40%; 
    height: 30%;
    padding: 40px; 
    background-color: rgba(0,0,0,.23);
    color: white;
}



.login_signup_btn {
    border: 0;
    padding: 0;
    border-radius: 2px;
    width: 100%;
    height: 12%;
    font-size: 14px;
    font-family: 'Roboto ',sans-serif;
    background-color: #FF3366;
}
i {
    width: 10%;
    vertical-align: bottom;
    float:left;
}

.awesome-form{
    width: 74%;
    position: absolute;
    height: 56.7%;
    left:50%;
    transform: translate(-50%,0%);
}
.input-group{
    width: 100%;
}
#chu{
   color: white;
   margin-left: 60%;
   
}
.input-group input{
    display: inline; 
    width: 85%;  
    float: right;
}

input:focus, input:active,, textarea {
  outline: none !important;
}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {

    border-bottom: solid 2px #21a1e1;
}

input[type="text"], input[type="email"],input[type="password"] {
  border: none;
  outline: none; 
  border-bottom: solid 1px #CCC;
}

input[type="submit"] {
  color: white;
}


