#point1{
  color: #212121;
  height:25px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 18px;
    padding: 10px;
}


#point3{
   background: #7F00FF;
    color: #FFFFFF;
    font-family: Sans-serif;
    font-size: 20px;
    height: 73%;
    width: 300px;
    line-height: 40px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
    margin-top: 30px;


}
#point4{
   background:#FF1493;
    color: #FFFFFF;
    font-family: Sans-serif;
    font-size: 20px;
    height: 40px;
    width: 300px;
    line-height: 40px;
    margin: 25px 25px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;

}

#point5{
  margin-top: 15px;
  height:18px;
  color: #212121;

}
#point6{
  height:10px;
  color: grey;
  text-align: center;

}

#point7{
  margin-top: 2px;
  background-color: grey; 

}




#login{
  border-radius: 8px;
  background-color: white;
  border: 1px solid #CCC; 
  position: absolute;
  width: 26%; 
  height: 48%;
  top:50%;
  left:50%;
  transform: translate(-50%,-43%);


}

#sign_up{
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 45%;
  box-shadow: 10px 10px 5px black;
  transform: translate(-50%, -50%);
  width: 250px; 
  height: 330px;
  border: 1px solid #CCC; 
  padding: 40px; 
  background-color: #FFF
}

#reset_password{
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 45%;
    box-shadow: 10px 10px 5px black;
    transform: translate(-50%, -50%);
    width: 250px; 
    height: 180px;
    border: 1px solid #CCC; 
    padding: 40px; 
    background-color: #FFF
}

#otp{
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 45%;
    box-shadow: 10px 10px 5px black;
    transform: translate(-50%, -50%);
    width: 250px; 
    height: 250px;
    border: 1px solid #CCC; 
    padding: 40px; 
    background-color: #FFF
}



.cointainer input, .btn {
  width: 100%;
  height: 40px;
  font-size: 16px;
  transition: 0.6s;
  border: none;
  border-bottom: 1px solid #CCC;
  background-color: transparent;
}


/* for floating labls*/
input:focus, input:active,, textarea {
  outline: none !important;
}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
    border-bottom: solid 2px #21a1e1;
}
input[type="text"], input[type="email"] {
  border: none;
  outline: none; 
  border-bottom: solid 2px #888;
  margin-left: 25;
}
input[type="submit"]:active {
  color: white;
  background: #333;
}
input[type="password"] {
    border: none;
    outline: none; 
    border-bottom: solid 2px #888;
}
.input-group {
  display: inline;
  position: relative;
  border: none;
  margin-left: 50px;
  margin-top: 20px;
}
.input-group input {
  padding: 5px 0px;
}
.input-group label {
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  /*font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;*/
  font-family: 'Roboto';
  font-style: italic;
  font-size: 18px;
  color: #212121;
  margin-bottom: 5px;
  pointer-events: none;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  opacity: 0.4;
}
.input-group input:focus + label,
.input-group input.has-value + label {
  top: -10px;
  font-size: 12px;
  color: #aaa;
  opacity: 1;
}