<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.teal-pink.min.css">
    

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="styles/deliver.css">
    <link rel="stylesheet" href="styles/users.css">
    <link rel="stylesheet" href="styles/track.css">
    <link rel="stylesheet" href="styles/orders.css">
    <link rel="stylesheet" href="styles/address_list.css">
    <link rel="stylesheet" href="styles/place_order.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/mainApp.css">
    
  

    <meta charset="utf-8">
    
    <style>
        .navbar { border-radius:0; }
    </style>  

    <script>
      function autoclick() {
               //alert("srfer");
        $( '.mdl-layout__drawer, .mdl-layout__obfuscator' ).removeClass( 'is-visible' );
      }
    </script>
    
</head>
<title>Fabfresh</title>

<body ng-app="routerApp" ng-controller="homeCTRL" >


<div id="Main" >


    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header ng-show="otp_flag()" style=" background-color: #222;" class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title"><div class = "fabfresh_icon"></div></span>
          <div class="mdl-layout-spacer" style="margin-left:58%;"><div class="user_icon"></div></div><h5 style="margin-right: 8%;">{{getUsername()}}</h5>
         
        </div>
      </header>



      <div class="mdl-layout__drawer" style="position: fixed; margin-top: 64px; background-color: white;">
  
        <nav class="mdl-navigation" style="padding: 0">
        <div id="home_div">
            <a  class="mdl-navigation__link" onclick=autoclick() ui-sref="place_order"><div id="home_icon"  ></div>   <p>Home</p></a>
        </div>

        <div id=track_div>
            <a  class="mdl-navigation__link" onclick=autoclick() ui-sref="orders"><div id="track_icon"  ></div>   <p>Track Orders</p></a>
        </div>
        <div id=logout_div>
            <a  class="mdl-navigation__link" onclick=autoclick() ui-sref="logout"><div id="logout_icon"  ></div>   <p>Logout</p></a>
        </div>
        </nav>
      </div>


      <main class="mdl-layout__content" id="asd">
            <div  ng-hide="otp_flag()" id="logo"></div>
            <div id="get_app"><p style="color:white;">Get App</p></div>
            <a ng-click="goToPlaceOrder(0)" id="android_icon" href="https://play.google.com/store/apps/details?id=com.fabfresh.android&hl=en"></a>
                        <a ng-click="goToPlaceOrder(0)" id="ios_icon" href="https://itunes.apple.com/in/genre/ios/id36?mt=8"></a>
            <button ng-hide="otp_flag()" ui-sref="login" id="login_btn">LOGIN</button>
            <div  ui-view id="container1"></div>

      </main>
    </div>

    <div ng-show="otp_flag()"  id="footer"><center>No.99,Koramangala Industrial Area,<br>5th Block,Banglore-95</center>
      <div class="fabfresh_image" > </div>
       <div id="fl">
        <a href="https://www.facebook.com/Fabfresh-960819563955636/?fref=ts" class="facebook"></a>
       <a href="https://twitter.com/fabfreshin" class="twitter"></a>
       <a href="https://www.instagram.com/fabfresh.in/" class="instagram" ></a>
       <a href="https://www.linkedin.com/company/fabfresh" class="linkedin"></a>


       </div>
   </div>

</div>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-ui-router-styles/ui-router-styles.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="bower_components/simple-pagination/lib/pagination.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="bower_components/ng-simplePagination/simplePagination.js"></script>
    <script src="bower_components/material-design-lite/material.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/satellizer/satellizer.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
    


    <script src="scripts/app.js"></script>
    <script src="scripts/geomap.js"></script>
    <script src="scripts/controllers/homeCTRL.js"></script>
    <script src="scripts/controllers/reset_passwordCTRL.js"></script>
    <script src="scripts/controllers/deliverCTRL.js"></script>
    <script src="scripts/controllers/select_serviceCTRL.js"></script>
    <script src="scripts/controllers/place_orderCTRL.js"></script>
    <script src="scripts/controllers/ordersCTRL.js"></script>
    <script src="scripts/controllers/loginCTRL.js"></script>
    <script src="scripts/controllers/addressCTRL.js"></script>
    <script src="scripts/controllers/sign_upCTRL.js"></script>
    <script src="scripts/controllers/otpCTRL.js"></script>
    <script src="scripts/controllers/trackCTRL.js"></script>
    <script src="scripts/controllers/aboutCTRL.js"></script>
    <script src="scripts/controllers/logoutCTRL.js"></script>
    <script src="scripts/controllers/login_fbCTRL.js"></script>
    <script src="scripts/hide.js"></script>
    <script src="scripts/services/services.js"></script>
        <!-- endbuild -->
    </body>
</html>