
<div ng-repeat="x in data | startFrom:currentPage*1 | limitTo:1" >

   <div id="box">
          <h2>{{x.address}}</h2><br>   
  </div> 
</div>
      <center>
        <p ng-hide="currentPage < l" id="box"></p>
          <button id="boxes" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><b><<</b></button>
          <button  id="boxes" ng-disabled="currentPage >= l" ng-click="currentPage=currentPage+1"><b>>></b></button>
      </center><br>

<center><button  ng-show="currentPage == l" ui-sref="homepage" >Add New Address</button</center>
