	<script1 type="text/javascript-lazy"></script1>

	<div id="homepage">

	 <div id="map"></div>
	 
	 <div id="map_sidebar" >
	   <center><h3 id="t3">Your Address:</h3></center>
	   <hr>
	   <div id="address"></div><br><br>
	   <form name="myForm" ng-submit="submitForm()">
	     <input id="t4" type="text" placeholder="Door No." ng-model="door" required><br><br>
	     <input id="t4" type="text" placeholder="SubLocality" ng-model="sublocal" required><br><br>
	     <div id="home_button"><button id="t5" type="submit">Submit</button></div>
	   </form> 
	   <p id="verification"></p>
	 </div>
	  
	</div>