<div class="jumbotron" style="width: 100%; height: 100vh; position: fixed;">
  <div  class="container" >  
  <br>
     <div style="margin-left: 1%;"><h4><b> DELIVERY ADDRESS</b></h4></div>
     <div class="row">
       <div ng-repeat="x in data | startFrom:currentPage*1 | limitTo:1" class="col-sm-3">

           <div id="address_box">
                 <tst>{{x.address}}</tst><br> 
           </div> 

       </div>

         <div class="col-sm-4">
            <button id="add" ng-click="goToAddress()">
           <h2>+</h2> 
           <p style="font-family: Roboto Medium; font-size: 15px;">ADD NEW ADDRESS</p>
           </button>
         </div>
           
           </div>

           <br>
            <div class="row" style="margin-left: 4%; ">
            <div class="col-sm-1">
              <button  id="left_button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><b><<</b></button>
            </div>
            <div class="col-sm-1">
               <button   id="right_button" ng-disabled="currentPage >= l-1" ng-click="currentPage=currentPage+1"><b>>></b></button>
            </div>
              
            </div>
            <br>
       
                <h4><b>Amount : </b>{{amount}}</h4>
                <h4><b>Amount After Discount : </b>{{afterDiscount}}</h4>
                <br>
             <form ng-submit="applyCoupon()">
                <input style="border-bottom:1px solid  rgba(0,0,0,.9); width: 17%" ng-model="coupon" placeholder="APPLY COUPON" type="text"  required>
             
                <button  type="submit" id="apply1">Apply</button>
                
             </form>
             <h4  class="coupon_response">{{isvalid}}</h4>
             <br>
         <button  id="drop_req_button" ng-click="deliverNow(currentPage)">Drop Request</button>
      <br><br>
</div>
</div>


