<div id="deliver">
  <div  class='processing' >  
     <div style="margin-left: 1%;"><h4><b> DELIVERY ADDRESS</b></h2></div>
       <div ng-repeat="x in data | startFrom:currentPage*1 | limitTo:1" >

           <div id="address_box1">
                 <tst>{{x.address}}</tst><br> 
           </div> 
           <button id="add1" ng-click="goToAddress()">
           <h2>+</h2> 
           <p>ADD NEW ADDRESS</p>
           </button>
       </div>
           
             <button ng-hide="currentPage == 0" id="left_button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><b><<</b></button>

             <button  ng-hide="currentPage == l-1" id="right_button" ng-disabled="currentPage >= l" ng-click="currentPage=currentPage+1"><b>>></b></button>

              <div id="dis">
                <h4><b>Amount : </b>₹ {{order.amount}}</h4>
                <h4><b>Amount After Discount : </b>₹ {{order.afterDiscount}}</h4>
              </div>

             <form ng-submit="applyCoupon()">
                <input ng-model="coupon" placeholder="APPLY COUPON" type="text" id="sample7" required>
                <h4  class="coupon_response">{{isvalid}}</h4>
             <!-- Flat button with ripple -->
         <button  type="submit" id="apply1">Apply</button>
      </form>

       <div>
         <center><button  id="drop_req_button" ng-click="deliverNow(currentPage)">Drop Request</button></center>
       </div>
 
</div>
</div>

<div id="footer"><center>No.99,Koramangala Industrial Area,<br>5th Block,Banglore-95</center>
      <div class="fabfresh_image" > </div>
       <div id="fl">
        <a href="https://www.facebook.com/Fabfresh-960819563955636/?fref=ts" class="facebook"></a>
       <a href="https://twitter.com/fabfreshin" class="twitter"></a>
       <a href="https://www.instagram.com/fabfresh.in/" class="instagram" ></a>
       <a href="https://www.linkedin.com/company/fabfresh" class="linkedin"></a>


       </div>
   </div>
