<script1 type="text/javascript-lazy"></script1>

<div id="homepage">

  <div id="map"></div>
  
  <div id="map_sidebar" >
    <h3>Your Address:</h3>
    <div id="address"></div>
    <h3>Your position:</h3>
    <div id="info"></div><br><br><br>
    <form name="myForm" ng-submit="submitForm()">
      <input type="text" placeholder="Door No." ng-model="door" required><br><br>
      <input type="text" placeholder="SubLocality" ng-model="sublocal" required><br><br>
      <button type="submit">Submit</button>
    </form>
    <p id="verification"></p>
  </div>

</div>