<script1 type="text/javascript-lazy"></script1>

<div id="homepage">

 <div id="map"></div>
 
 <div id="map_sidebar" >
   <center><h3 id="t3">Your Address:</h3></center>
   <div id="address"></div><br><br>
   <form name="myForm" ng-submit="submitForm()">
     <input id="t4" type="text" placeholder="Door No." ng-model="door" required><br><br>
     <input id="t4" type="text" placeholder="SubLocality" ng-model="sublocal" required><br><br>
     <center><button id="t5" type="submit">Submit</button></center>
   </form> 
   <!-- Textfield with Floating Label -->
<!-- <form name="myForm" ng-submit="submitForm()">
 <div class="mdl-textfield mdl-js-textfield mdl-textfield-floating-label">
   <input class="mdl-textfield__input" type="text" id="sample3">
   <label class="mdl-textfield__label" for="sample3">Text...</label>
 </div>
</form> -->

   <p id="verification"></p>
 </div>

</div>