<!DOCTYPE html>
<html>
<body>
<div  id="login" class="container"> 
    <div id="point1"><center>LOGIN</center></div>
    <hr style="margin: 10px 0 0 0"></hr>
     <!-- <div id="point2"><center><button id="point3" ng-click="fb()">Connect With Facebook</button></center></ --><!-- div> -->

     <div class="social-wrap social-wrap2"><button id="facebook" ng-click="fb()" font-family: 'Roboto ',sans-serif;> Connect With Facebook</button></div> 
     <p id='p1'>OR</p>

   <form class="awesome-form" ng-submit="submitForm()" name="myForm">
        	
        	<div class="input-group" >
            <i  class="material-icons">mail_outline</i>
            <input placeholder='Email' id="Email"  name="email" type="text" ng-pattern="/^[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-model="login.email" required>
            {{set()}}
            <!-- <label for="Email">Email</label>
            <span ng-show="!myForm.email.$error.required && !myForm.email.$valid">Email Invalid</span><br> -->
            </div><br>
        	
        	 <div class="input-group">
              <i class="material-icons">lock_outline</i>
              <input placeholder="Password" type="password" id="password" name="password" ng-model="login.password" required>
               <!-- <label for="password">Password</label> -->
            </div>

        <input ng-disabled="!myForm.email.$valid || !myForm.password.$valid" type="submit" id='point4' value="LOGIN"></input>
        
    </form>

    <div id="signup_to_login" >
        <div style="width: 50%; float: left;margin-top:2%;">
            <p  style="float:right; color: gary; font-family: 'Roboto ',sans-serif; font-size: 16px;" >New User?</p>
        </div>
        <div style="width:50%; float: right; margin-top:2%" >
        <a ui-sref="sign_up" style="margin-left:10% ;color: #212121; ffont-family: 'Roboto ',sans-serif;font-weight: bold; font-size: 16px;">Sign Up</a></div> 
        
    </div>

</div>


<!--<i class="loading" ng-show="loading"></i>-->
<div class="loader" ng-show="loading">
    
  <div class="inner one"></div>
  <div class="inner two"></div>
  <div class="inner three"></div>
</div>

<div ui-view>  </div>
</body>

</html>

