<!DOCTYPE html>
<html>
<body>
<div  id="login" class="container"> 
    <div id="point1"><center>LOGIN</center></div>
    <hr style="margin: 10px 0 0 0"></hr><br><br>

     

   <form class="awesome-form" ng-submit="submitForm()" name="myForm" style=" height:48%;">
        	
        	<div class="input-group" >
            <i  class="material-icons">mail_outline</i>
            <input placeholder='Email' id="Email"  name="email" type="text" ng-pattern="/^[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-model="login.email" required>
            {{set()}}
            <!-- <label for="Email">Email</label>
            <span ng-show="!myForm.email.$error.required && !myForm.email.$valid">Email Invalid</span><br> -->
            </div><br>
        	
        	 <div class="input-group">
              <i class="material-icons">lock_outline</i>
              <input placeholder="Password" type="password" id="password" name="password" ng-model="login.password" required>
               <!-- <label for="password">Password</label> -->
            </div>

        <input ng-disabled="!myForm.email.$valid || !myForm.password.$valid" type="submit" id='point4' value="LOGIN"></input>
        
    </form>
    
    <input type="button" value="SIGNUP"  ui-sref="sign_up" id="sign_btn"></input>

    <center style="padding:10px;"><a  ui-sref="reset_password">Forgot Password..?</a></center>
</div>


<div class="loader" ng-show="loading">
    
  <div class="inner one"></div>
  <div class="inner two"></div>
  <div class="inner three"></div>
</div>

<div ui-view>  </div>
</body>

</html>

