<div class="orders" ng-repeat="x in data" >
        <div class="orders-header">
           <center><h2>#{{x.id}}</h2></center>
           <hr class="style-two">
        </div>

  <div class="orders-body">
    <div class="time"><b>{{x.created_at_time}}</b></div>
    
    <div class="coupon"><b>Coupon Code: </b>{{x.coupon}}</div>
    <div class="details"><span>Cloths Details</span></div>
   
    <div class="order_description"><b>Quantity: </b>{{x.quantity}} ps<br>
                                  <b>Weight: </b>{{x.weight}} kg<br>
                                  <b>Type: </b>{{x.order_type}}
    </div> 
    <div class="status">{{x.status | uppercase }}</div>
   <div class="track" ng-click="track_order(x.id)"><button style="border-radius: 50px;"><b>track order</b></button></div>
  </div>  
</div>
<!--
<div id="order">
  <div id="orders_list">
    <div id="orders" ng-repeat="x in data" >
      <div id="menu">
        <div id="order_id">
          <h2  style="color:white;" >#{{x.id}}</h2>
        </div>
        <div id="order_description">
          <p style="color:black;">
            <p style="color:black;"><b> email_id : </b>{{x.owner}}<br>
              <b>Order Date: </b>
              {{x.created_at_time}}
            </br><b>Amount: </b>
            {{x.amount}}</br><b>Amount After Discount: </b>{{x.afterDiscount}}<br><b>Weight: </b>{{x.weight}}</br><b>Quantity: </b>{{x.quantity}}</br><b>Type: </b>{{x.order_type}}</br><b>Coupon: </b>{{x.coupon}}</p>
          </p>
        </div>
        <div id="order_status">
          <h4 style="color:white;">{{x.status}}</h4>
        </div>
      </div>
      <div id="cancel_order" >
          <a  style="margin-left:80px;" href ng-click="track_order(x.id)">Track Order</a>
      </div>
    </div>
    <br>
    <hr class="style13">
    <div class="coupon">Total Amount: {{x.amount}}</div>
  </div>
  </div>
-->
