<div class="orders" ng-repeat="x in data" >
        <div class="orders-header">
            <text>{{x.id}}</text>
            <hr class="style-two">
        </div>

  <div class="orders-body">
    <div class="time">{{x.created_at_time | date:"HH:mm:ss, dd-MMM-yyyy"}}</div>
    <div class="status">{{x.status | uppercase}}</div>
    <div class="coupon">Coupon Code: {{x.coupon}}</div>
    <div class="details"><span>Cloths Details</span></div>
    <hr class="style-thr" width="50%">
    <div class="order_description">
      
            <li type="circle">Quantity: {{x.quantity}} ps<br></li>
            <li type="circle">Weight: {{x.weight}} kg<br></li>
            <li type="circle">Type: {{x.order_type}}<br></li>
    </div>
    <div class="track"><button class="track_button" ng-click="track_order(x.id)">track order</button></div>
  </div>
</div>        
