<div id="ord">
  <div id="orders" ng-repeat="x in data">
    <div id="oid" >
      <h2  style="color:white;" >#{{x.id}}</h2>
    </div>
    <div id="odes">
      <p style="color:black;"><b>Order Date: </b>{{x.created_at_time}}</br><b>Amount: </b>{{x.amount}}</br><b>Amount After Discount: </b>{{x.afterDiscount}}<br><b>Weight: </b>{{x.weight}}</br><b>Quantity: </b>{{x.quantity}}</br><b>Type: </b>{{x.order_type}}</br><b>Coupon: </b>{{x.coupon}}</p>
    </div>
    <div id="ost">
      <h4 style="color:white;">{{x.status}}</h4>
    </div>
  </div>
</div>
