<div id="otp" class="container">
    {{$rootScope.user_status}}
    <form class="awesome-form" ng-submit="submitForm()" name="myForm">
        <div class="input-group">
        <input id="email" type="text" name="otp" ng-pattern="/^[0-9]+$/" ng-model="otp" required>
        <label for="email">Enter OTP</label>
        <span ng-show="!myForm.otp.$error.required && !myForm.otp.$valid">OTP should be numeric</span>
        </div>
        <br><br>
        <input id="input1" ng-disabled="!myForm.otp.$valid" type="submit" class="btn">
    </form><br>
    <a class="link_class" ng-click='otpResend()' class='btn'><span>Resend OTP</span></a>
</div>

<div ui-view></div>