<div  class="jumbotron" style="width: 100%;height: 100vh;">
<div  class="container" >  
<br>
     <div style="margin-left: 1%;"><h4><b>PICKUP ADDRESS</b></h4></div>
       
       <div class="row">
       <div ng-repeat="x in data | startFrom:currentPage*1 | limitTo:1" class="col-sm-3">

           <div id="address_box">
                 <p style="font-size: 14px; font-weight: bolder; font-family: 'Roboto ',sans-serif;">{{x.address}}</p><br> 
           </div> 

       </div>

         <div class="col-sm-4">
            <button id="add" ng-click="goToAddress()">
           <h2>+</h2> 
           <p style=" font-family: 'Roboto ',sans-serif; font-size: 15px;">ADD NEW ADDRESS</p>
           </button>
         </div>
           
           </div>
           <br>
            <div class="row" style="margin-left: 4%; ">
            <div class="col-sm-1">
              <button  id="left_button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><b><<</b></button>
            </div>
            <div class="col-sm-1">
               <button   id="right_button" ng-disabled="currentPage >= l-1" ng-click="currentPage=currentPage+1"><b>>></b></button>
            </div>
              
            </div>
            <br>

            <form ng-submit="checkCouponValidity()">

                <input ng-model="coupon" type="text" placeholder="APPLY COUPON" style="border-bottom: 1px solid rgba(0, 0, 0, 0.9); width: 20%;" required>
                
          
              <button  type="submit" id="apply">
              Apply
              </button>
              <h4  class="sel_type">{{isvalid}}</h4>
            </form>
            <br>
            <form ng-submit="placeOrderForm(currentPage)">
                <textarea ng-model="special_ins" placeholder="Special Instructions"  type="text" rows= "3" cols= "32" id="sample5"></textarea>
              <br><br>
                <button type="submit" id="btn4">PICKUP NOW</button>
            </form>
           <br><br>

 </div>

</div>
  
