<div id="place_order">
  <div  class="processing" >  
     <div style="margin-left: 1%;"><h2 > PICKUP ADDRESS</h2></div>
       
       <div ng-repeat="x in data | startFrom:currentPage*1 | limitTo:1" >

           <div id="address_box">
                 <tst>{{x.address}}</tst><br> 
           </div> 
           <button id="add" ng-click="goToAddress()">
           <h2>+</h2> 
           <p>ADD NEW ADDRESS</p>
           </button>
       </div>
           <!-- 
             <button ng-hide="currentPage == 0" id="left_button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"><b><<</b></button>

             <button  ng-hide="currentPage == l-1" id="right_button" ng-disabled="currentPage >= l" ng-click="currentPage=currentPage+1"><b>>></b></button> -->
             <div >
              <form ng-submit="checkCouponValidity()">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input ng-model="coupon" class="mdl-textfield__input sel_type" type="text" id="sample3" required>
                <label  class="mdl-textfield__label" for="sample3">Coupon </label><h4  class="sel_type">{{isvalid}}</h4>
              </div>
              <button  type="submit" id="apply">
              Apply
              </button>
            </form>
            </div>

 </div>
</div>

<div id="footer"><center>No.99,Koramangala Industrial Area,<br>5th Block,Banglore-95</center></div>

