<div id="reset_password" class="container">
    <form ng-submit="submitForm()" name="myForm">
    	<input type="email" placeholder="Enter your email"  name="email" ng-model="reset_password.email" ng-pattern="/^[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>

    	<span ng-show="myForm.email.$dirty && myForm.email.$error.required">Required</span>
    	<span ng-show="!myForm.email.$error.required && !myForm.email.$valid">Email Invalid</span>
        
    	<br><br>
        <input id="input1" ng-disabled="!myForm.email.$valid" type="submit" class="btn">
    </form>
</div>

<div ui-view></div>

