<div id="reset_password" class="container">
    <form class= "awesome-form" ng-submit="submitForm()" name="myForm">
        <div class="input-group">
    	<input id="Email" type="text" name="email" ng-model="reset_password.email" ng-pattern="/^[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" required>
    	{{set()}}
        <label for="Email">Email</label>
    	<span ng-show="!myForm.email.$error.required && !myForm.email.$valid">Email Invalid</span>
        </div><br>
        <input id="input1" ng-disabled="!myForm.email.$valid" type="submit" class="btn">
    </form>
</div>
​
<div ui-view></div>