<div id="select_service">
     <div class="processing">
             <center><h1>Service Type</h1></center>
             <!-- <div style="float:left"> -->
             <a ng-click="goToPlaceOrder(0)" id="select_service1" ui-sref="place_order"><p class="typ">Wash & Fold</p> </a>

            <!--  </div style="float:right">
             <div> -->
                 <a ng-click="goToPlaceOrder(1)" id="select_service2" ui-sref="place_order"><p class="typ">Wash & Iron</p></a>
            <!--  </div>
             <div> -->
                 <a ng-click="goToPlaceOrder(2)" id="select_service3" ui-sref="place_order"><p class="typ1">Iron</p></a>
            <!--  </div> -->
     </div>
 </div>
