
<div id="select_service">
    <div class="processing">
            <center><h3>Service Type</h3></center>
            <!-- <div style="float:left"> -->
            <a ng-click="goToPlaceOrder(0)" id="select_service1" ui-sref="place_order"></a>
           <!--  </div style="float:right">
            <div> -->
                <a ng-click="goToPlaceOrder(1)" id="select_service2" ui-sref="place_order"></a>
           <!--  </div>
            <div> -->
                <a ng-click="goToPlaceOrder(2)" id="select_service3" ui-sref="place_order"></a>
           <!--  </div> -->
    </div>
</div>
<div id="footer"><center>No.99,Koramangala Industrial Area,<br>5th Block,Banglore-95</center></div>