
     <div class="processing1">
            <br><br>
             <center style="font-family: 'Roboto ',sans-serif;font-size: 24px; text-transform: uppercase;">SELECT YOUR SERVICE</center>
             <!-- <div style="float:left"> -->
             <a ng-click="goToPlaceOrder(1)" id="select_service1" ui-sref="place_order"><p class="typ"><span >Wash & Iron</span></p> </a>

            <!--  </div style="float:right">
             <div> -->
                 <a ng-click="goToPlaceOrder(0)" id="select_service2" ui-sref="place_order"><p class="typ"><span >Wash & Fold</span></p></a>
            <!--  </div>
             <div> -->
                 <a ng-click="goToPlaceOrder(2)" id="select_service3" ui-sref="place_order"><p class="typ1"><span >Iron</span></p></a>
            <!--  </div> -->
     </div>
