    <div id="sign_up" class="container">
        <div id="register"><center>REGISTER</center></div>
        <hr style="margin: 0"></hr><br><br>

        
        <form class="awesome-form" ng-submit="submitForm()" name="myForm">
             <div class="input-group">
                <span><i class="material-icons">perm_identity</i></span>
                <input placeholder='Name' id="name" type="text" ng-pattern="/^[a-zA-Z]+$/" name="name" ng-model="sign_up.name" required>
    <!--             <label for="Email">Name</label>
                <span ng-show="!myForm.name.$error.required && !myForm.email.$valid">Invalid Name</span> -->
            </div><br>

            <div class="input-group">
                <span><i class="material-icons">mail_outline</i></span>
                <input placeholder='Email' d="Email" type="text" ng-pattern="/^[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" name="email" ng-model="sign_up.email" required>

    <!--             <label for="Email">Email</label>
                <span ng-show="!myForm.email.$error.required && !myForm.email.$valid">Invalid email</span> -->
            </div><br>
            {{set()}}
            <div class="input-group">
            <span><i class="material-icons">phone_iphone</i></span>
            <input placeholder='Mobile No' id="mobile" type="text" name="phone" ng-pattern="/^[0-9]{10}$/" ng-model="sign_up.phone" required>
    <!--         <label for="mobile">Mobile Number</label>
            <span ng-show="!myForm.phone.$error.required && !myForm.phone.$valid">Mobile No. not valid</span> -->
            </div><br>
            <div class="input-group">
            <span><i class="material-icons">lock_outline</i></span>
            <input placeholder='Password' id="password" type="password" ng-minlength="6" name="password" ng-model="sign_up.password" required>
    <!--         <label for="password">Password</label>
            <span ng-show="!myForm.password.$error.required && !myForm.password.$valid">Password should be atleast 6 character long</span> -->
            </div><br>
            <input id="input1" ng-disabled="!myForm.email.$valid || !myForm.phone.$valid || !myForm.password.$valid" type="submit" value="REGISTER" class="login_signup_btn">
        </form>
        <div id="signup_to_login" >
            <div style="width: 50%; float: left;margin-top:3%;">
                <p  style="float:right; color: #7  57575 font-family: 'Roboto';font-size: 16px;" >Already User?</p>
            </div>
            <div style="width:50%; float: right; margin-top:3%" >
            <a ui-sref="login" style="margin-left:10% ;color: #212121; font-family: 'Roboto';font-weight: bold; font-size: 16px;">Login</a></div> 
            
        </div>
    </div>


    <div ui-view></div>

