<div class="jumbotron" style="width: 100%;height: 100%;">
    <div class="container">
        <div class="tc">
    <br>
    <center><h1>Terms & Conditions</h1></center>
    <br>

 <p>1. Inner wears and Wet clothes are not accepted, if so given will be sent back to customer without processing.</p>
    <p>2. In the event of damage caused in an article or loss for which we take the responsibility, the customer is compensated according to the table for the current values on the devaluation for the articles; the compensation relates only to the entrusted articles. The maximum compensation is limited to 10 times the washing price, subjected to a maximum of Rs 2000. The cloth for which the compensation is made shall be retained by the company.</p>
    <p>    The acknowledgement sheet provided by our field staff is not the ultimatum. There is a chance of counting mistake here and we are not liable for the same. The exact count and weight will be provided after the clothes reach our facility. Customer is not entitled for any compensation in these cases.</p>
    <p>3. We put all efforts to respect the agreed pickup and delivery period and timeliness. Delays do not however give any right to compensation.</p>
    <p>4. We will not take any liability for stains, color bleeding, loss of buttons, cloth stretching and other such issues. These issues primarily happen with cloth ageing and not a result of our laundry practices.</p>
    <p>5. In spite of the simple professional control carried out at the time of the reception of the       articles, we cannot be held responsible for the damage due to non-identifiable properties or not detectable defects such as: insufficient resistance of fabrics or the seams, bad reaction of the colors or the impressions, presence of a pen in the lining, former defects, deterioration of the buttons, loops, zippers, shoulder pads, ornaments, etc., or if the label of maintenance is incorrect. A responsibility for contracting or modification of the colors remaining in the usual tolerances is excluded.</p>
    <p>6. The company aims to provide the best quality of cleaning available as per its standard methods; however does not guarantee the removal of all stains on an article. Stain removal is a very complicated process and we do not guarantee stain removal in any case. Whenever possible, the company will notify the customer of stains and issues that cannot be resolved due to further possible damage to the fabric.</p>
    <p>7. The articles must be collected within a period of 30 days after their deposit. The company shall make attempt to contact the customer in such cases, however cannot be held liable for loss of article after a 30 day failure to collect back the article.</p>
    <p>8. Any complaint(s) must be deposited without delay; and at the latest in 24 Hours after receiving the articles. The right to entertain the complaint lies with the company in this case.</p>
    <p>9. Fabfresh will not provide partial/full refund in any case.</p>
    <p>10. We may provide a complimentary re-wash in some cases. The final decision for the same rests with Fabfresh management</p>
</div>
    </div>
</div>