
     <div class="jumbotron" style="width: 100%; height: 100vh;position: fixed;">
     	<div class="container" >
     	<br>
     		 <div style="margin-left: 1%;"><h4><b>ORDER SUMMARY</b></h4></div>
     		 <br><br>
     		 <div class="row" style="margin-left: 1%;">
  					<div class="col-sm-2"><span style="color: gray">ORDER ID :</span> <b>{{data.id}}</b></div>
  					<div class="col-sm-2"><span style="color: gray">QUANTITY :</span> <b>{{quantity}}</b></div>
			</div>
			<br><br>
			<div class="row" style="margin-left: 1%">
  				<div class="col-sm-2"><span style="color: gray">WEIGHT :</span> <b>{{weight}}</b></div>
  				<div class="col-sm-2"><span style="color: gray">AMOUNT :</span> <b>{{amount}}</b></div>
			</div>
			<br>
	         
	         <div style="margin-left: 1%;"><h5><b>ORDER STATUS</b></h5></div>
	         <br>
	         <br>

	       <div id="st">
	         <div id="pick" ng-hide="data.status >=20" title="Pickup"></div>
	         <div id="wash" ng-hide="data.status >=40" title="Wash"></div>
	         <div id="iron" ng-hide="data.status >=60" title="Iron"></div>
	         <div id="dl"   ng-hide="data.status >=80" title="Ready To Deliver"></div>

	         <div id="pick2" ng-show="data.status >=20 " title="Pickup"></div>
	         <div id="wash2" ng-show="data.status >=40" title="Wash"></div>
	         <div id="iron2" ng-show="data.status >=60 " title="Iron"></div>
	         <div id="dl2"   ng-show="data.status >=80" title="Ready To Deliver"></div>

	        </div>
	        <br><br>
	        <h5 style="margin-left: 100px;"><b>{{Status | uppercase}}</b></h5>
	        <br><br>
		   <button  ng-show="data.status >=80" id="db" ui-sref="deliver" >Deliver Now</button>
	   		<br><br>
	   		
	        

     </div>


    </div>
