
<div class="track_orders">
<track class="chart" id="graph"></track>

<!--<h1>Status = {{Status}}</h1>-->
<div class="processing">
<div id="track_id">{{data.id}}</div>
<hr class="style-two">
<div id="track_details">
<ul>
	<li><rdx>Amount: {{data.amount}}</rdx></li>
	<br>
	<li><rdx>Weight: {{data.weight}}</rdx></li>
	<br>
	<li><rdx>Quantity: {{data.quantity}}</rdx></li>
	<br>
	<li><rdx>Current Status:  {{Status}}</rdx></li>
	<div id="deliver_button_position">
		<button ng-show="data.status==80" ui-sref="deliver" id="deliver_button">Deliver Now</button>
	</div>
</ul>
</div>
</div>
<div class="track_orders">

<!--    <p><strong>this is a track page</strong></p>-->
</div>